@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

body {
    margin: 0;
    background: #1d1d1d;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.landing {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 70px;
}

.container {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.menu {
    position: fixed;
}

.nav {
    bottom: 0;
    width: 95%;
    height: 70px;
    box-shadow: 0 0 5px 5px rgb(24 24 24 / 50%);
    background-color: rgb(39 39 39 / 70%);
    display: flex;
    position: fixed;
    overflow-x: auto;
    border-radius: 20px;
    margin: 0 auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 20px;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.1s ease-in-out;
}

.nav_icon {
    height: 20px;
    width: auto;
    padding: 5px;
}

.nav_link:hover {
    background-color: rgb(23 23 23 / 50%);
}

@media screen and (max-width: 768px) {
span.nav_text {
    display: none;
}
}
